body{
    background-color: #e5eaf1;
    box-sizing: border-box;
    margin: 0;
    font-family: SF Pro Display, sans-serif;                                               
}

.main {
    display: flex;
    flex-direction: column;
    height: 84vh;
    height: 84dvh;
    overflow: scroll;
}
.tooltip {
    background-color: #ffffff;
    border: 0.7px rgb(165, 165, 165) solid;
}
.header {
    display: flex;
    justify-content: space-around;
    color: #4c5968;
    background-color: #ffffff;
    width: 100%;
    min-height: 8vh;
    margin-bottom: 10px;
    font-weight: bold;
    position: relative;

    .menu-toggle {
        padding: 0 10px;
        cursor: pointer;
    }

    .menu {
        position: absolute;
        top: 95%;
        right: 8%;
        width: 35vw;
        background: #ffffff;
        border: 1px solid #ddd;
        z-index: 1;
        border-radius: 20px;
        cursor: pointer;

        div {
            display: flex;
            justify-content: space-between;
            padding: 10px;
            border-bottom: 1px solid rgb(51, 51, 51);

            &:last-child {
                border: none;
            }
            &:hover {
                background-color: rgb(196, 195, 195);
            }
            &:active {
                background-color: rgb(207, 207, 207);
            }
        }
      }
}

.grey-text {
    color: #aeb8c4;
    font-weight: bold;
}


.app {
    display: flex;
    flex-direction: column;
}

.hide {
    display: none !important;
}
.show {
    display: block;
}
.chevron-up {
    transform: rotate(180deg);
}



.currency-icon {
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-image: linear-gradient(0deg, #ff8f17 0%, #ffc743 100%);
    margin-bottom: 15px;
    svg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 30px;
        width: 20px;
    }
}
.crypto-wallet-card {
    width: 90vw;
    margin: 20px auto;
    border-radius: 25px;
    filter: drop-shadow(0px 59px 55.5px rgba(154,155,176,0.17));
    background-color: #ffffff;

    .container {
        margin: 20px;

        .coin-meta {
            display: flex;



            .crypto-name {
                margin-left: 15px;
                display: flex;
                flex-grow: 1;
                height: 50px;
                justify-content: space-between;
                align-items: center;
            }
        }

        .crypto-balance {
            color: #4c5968;
            font-weight: bold;
            font-size: 30px;
            margin: 10px 0;
        }

        .value-in-usd {
            display: flex;
            justify-content: space-between;

            .profit-loss {
                display: flex;
                background-color: #ee225d;
                color: white;
                border-radius: 50px;
                width: 80px;
                height: 25px;
                font-weight: bold;
                align-items: center;
                justify-content: center;
            }
        }

        .chevron {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            fill: #aeb8c4;

            &:active {
                fill: grey;
            }

            svg {
                height: 50px;
                width: 45px;
                transform: scaleY(.5);
            }
            


        }
    }
}


.btn {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 130px;
    border-radius: 25px;
    filter: drop-shadow(10px 59px 55.5px rgba(154,155,176,0.17));
    background-color: #ffffff;

    &:active {
        background-color: #bec1c4;
    }
}

.flex {
    display: flex;
    justify-content: space-around;
}

.buy {
    background-image: linear-gradient(0deg, #1d71f1 0%, #17c7fb 100%);
}
.sell {
    background-image: linear-gradient(0deg, #fa23a2 0%, #ff677c 100%);
}
.green {
    background-color: rgb(57, 214, 57) !important;
}

.time-frame-container {
    width: 90vw;
    margin: 10px auto;
    display: flex;
    justify-content: space-around;
    button {
        border: none;
        border-radius: 50px;
        min-width: 75px;
        height: 40px;
        color: #aeb8c4;
        font-weight: bold;
        background-color: rgba(0,0,0,0);
    }

    .active {
        background-color: #aeb8c4;
        color: #ffffff;
    }
}

.chart-container {
    width: 90vw;
    min-height: 200px;
    margin: 20px auto;
    border-radius: 25px;
    filter: drop-shadow(0px 59px 55.5px rgba(154,155,176,0.17));
    background-color: #ffffff;
    position: relative;
    overflow: hidden;

    
    .current-price {
        margin-left: 20px;
        display: flex;
        align-items: center;
        position: absolute;
        bottom: 10px;
        letter-spacing: -1px;
        color: #4c5968;
        font-weight: bold;
        font-family: "S FPro Display";
        span {
            background-image: linear-gradient(-40deg, #ffc743 0%, #ff8f17 100%);
            border: 1px solid rgba(255,193,61,0.26);
        }

    }
    .indicator {
        display: block;
        width: 10px;
        height: 10px;
        margin-right: 10px;
        border-radius: 50%;
        background-color: #1ec070;
    }
    .larger-dot {
        position: absolute;
        top: 50%;
        left: 5%;
        transform: translate(-50%, -50%);
        
        width: 20px; 
        height: 20px;
        border-radius: 50%;
        
        background-color: #ff8f17;
        opacity: 0.4;
        
        z-index: -1;
      }
    .high-low {
        display: flex;
        justify-content: space-between;

        div {
            margin: 20px;
            display: flex;
            align-items: center;
        }

        .low {
            
            .indicator{
                background-color: #ef2755;
            }
        }
    }

}

.nav-bar {
    display: flex;
    justify-content: space-around;
    height: 8vh;
    width: 100%;
    position: fixed; 
    bottom: 0;
    left: 0;
    padding-left: 0;
    background-color: #ffffff;
    margin: 0;
    align-items: center;

    li{
        list-style: none;
        width: 30px;
        svg {
            fill: #aeb8c4;
        }
    }
    .active-page {
        fill: #4c5968;
    }
}

@media (min-width:801px)  {
    .btn {
        &:hover {
            background-color: #d4dce7;
            cursor: pointer;
        }
        &:active {
            background-color: #bec1c4;
        }
    }
    .chevron {
        &:hover {
            fill: black;
            cursor: pointer;
        }
    }
    .time-frame-container {
        button {
            &:hover {
                background-color: #aeb8c4;
                color: #ffffff;
                cursor: pointer;
            }
            &:active {
                background-color: #bec1c4;
            }
        }
    }
}