@import url(./App.scss);
@font-face {
    font-family: 'SF Pro Display';
    src: url('./assets/fonts/SF-Pro-Display-Regular.woff') format('woff'),
        url('./assets/fonts/SF-Pro-Display-Regular.ttf') format('ttf'),
        url('./assets/fonts/SF-Pro-Display-Regular.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}
